:root {
  --primary-color: #efecec;
  --secondary-color: #dbd8e3;
  --tertiary-color: #5c5757;
  --accent-color: #363434;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gothic A1", sans-serif;
  font-weight: 700;
}

body {
  background-color: var(--secondary-color);
}

.Dictionary {
  margin: 30px 0;
  padding: 30px;
  font-family: "Oswald", sans-serif;
}

.Dictionary h1,
.Dictionary form {
  text-align: center;
}

.Dictionary h1,
.Dictionary h2 {
  color: var(--accent-color);
  margin: 15px 0;
}

.Dictionary h1 {
  font-size: 50px;
}

.Dictionary h2 {
  font-size: 40px;
}

.Dictionary h3 {
  color: var(--accent-color);
  font-weight: 400;
}

.Dictionary input {
  width: 50%;
}

.Dictionary span {
  color: var(--tertiary-color);
  font-size: 18px;
}

.Dictionary section {
  margin: 15px 0;
  padding: 10px;
  background-color: var(--primary-color);
  border-radius: 4px;
  box-shadow: 0 10px 10px #5c5470;
}
